body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.buildSpace{
    
    width: 50%;
    height: 100%;
    float: left;
}

.buildRow {
    margin-top:5%;
    margin-left:10%;
    margin-right:0%;
    margin-bottom:0%;

    justify-content: space-around;
    flex-direction: row;
    height: 30%;
    width: 100%;
    text-align: center;
}

.buildingTile{

    margin-top:10%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:10%;
    height: 75px;
    width: 75px;
}

.buildDisplay {

    float: left;
    text-align: center;

}

.playerRow{
    height: 35%;
    width: 100%;
    text-align: center;



}

.square {
  flex:1;
  align-content: space-around;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  height: 80px;
  padding: 0;
  text-align: center;
  width: 80px;
  background-image: url("/Textures/Tile.png");
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.control-panel {
  margin-left: 20px;
}

.menuButton{
    border: 1px solid #999;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    height: 30px;
    margin-right: -1px;
    margin-left: 30px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 120px;
  }
